header {
    background-color:rgb(145, 242, 65) ;
}
.info {
    h2 {
        background-color:rgb(129, 57, 201);
        color:aliceblue;
    }
    h3 {
        background-color: blanchedalmond;
        color:brown;
    }
   text-align: center;
   margin: auto;
   border:solid black medium;   
}

img {
    width: 400px;
    height: 300px;
    object-fit: contain;
}